<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <script src="https://unpkg.com/htmx.org@1.9.7" integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/output.css">
</head>
<body>
    <h1 class="flex flex-wrap bg-green-400">Welcome to the Homepage</h1>
    <h1 class="flex flex-wrap bg-red-400">asdf</h1>
    <h1 class="flex flex-wrap bg-gray-400">indigo</h1>
</body>
</html>

