# .env files are in .gitignore
# Keep this as a list of environment variables that you need.
# Do not put secrets inside of this file.
#
# Because `go test` runs as tests/ being the root directory, it needs its own .env file.
# You could copy a .env from the project root directory, or make a new one specifically for testing!

DB_URI=
