package components
templ fullPageError(s string) {
	<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
		{ s }
	</div>
}

templ Error(s string) {
    @layout("Bear Hub - Sign In", "Sign In", fullPageError(s))
}