package components

templ credit() {
	<div class="">
		<ul class="">
			<li class="">Bear icon (white and black): <a href="https://www.iconsdb.com/white-icons/bear-4-icon.html">iconsdb</a></li>
			<li class="">All of the fancy css: <a href="https://flowbite.com/docs">flowbite</a></li>
		</ul>
	</div>
}

templ Attributions() {
  @layout("asdf", "fdsa", credit())
}
